name: Test project

on:
  push: 
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  good:
   runs-on: ubuntu-latest
   steps:
    - name: Good bye!
      run: echo "Goodbye"
      shell: bash
  comment-with-action:
    runs-on: ubuntu-latest
    steps:
      - name: Dump github context
        run: echo '${{ toJSON(github.event) }}' | jq
        shell: bash